<div class="col-md-6 mx-auto">
  <form>
    <h3 class="text-center mt-4">Sign In</h3>
    <a class="d-block text-center" routerLink="/register">Need an account?</a>
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" name="username" class="form-control" id="username" [(ngModel)]="name" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" [(ngModel)]="name" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-md btn-primary float-right" (click)="signIn()">Sign in</button>
  </form>
</div>